body {
    font-family: "Verdana", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 28px;
    transition-duration: .2s;
}

button {
    background-color: #5986A0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #286A91;
    cursor:pointer;
    color:#BDDCEE;
    padding:6px 8px;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #286A91;
    border:1px solid #5986A0;
    text-shadow: 0px 1px 1px #5986A0;
    cursor: pointer;
}

input {
    background-color: #e6faf5;
}
textarea {
    background-color: #e6faf5;
}

.loginBackground {
    width: 150px;
    height: 150px;
    background: url("../img/login_min.png") transparent no-repeat center center;
    opacity: 0.8;
    margin: 0 auto;
}
.loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.loginForm input{
    border-radius: 4px;
    line-height: 2em;
    padding: 0.2em;
    width: 15em;
    border: solid #286A91 1px;
}
.loginForm .submit{
    color: #fff;
    text-transform: uppercase;
    margin: 1em 0 0 0;
    width: 100%;
    background-color: #286A91;
    border: solid #286A91 1px;
}
.loginForm .submit:hover, .loginForm .submit:active {
    color: #000;
    background-color: #E6FAF5;
    transition-duration: .4s;
    cursor: pointer;
}


.date {
    width: 5.5em;
    font-size: 16px;
    text-align: center;
    margin: 0 0 10px 0;
}

.customFormDiv{
    display: flex;
    justify-content: left;
    font-size: 16px;
    font-weight: 600;
}

.customFormDiv input {
    width: 6em;
    font-size: 16px;
    font-weight: 300;
    padding: 0.1em;
}

.salaryAndPrepaidDiv {
    justify-content: space-between;
    flex-flow: row wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1.2em 0 0 0;
    padding: 1em;
    /*padding: 10px;*/
    border: solid #ccc 1px;
}

.salaryAndPrepaidDiv button {
    width: 5em;
    margin: 0 0 0 1em;
}

.capture {
    position: relative;
    padding: 0 5px;
    background-color: #fff;
    margin: 0 auto;
    border: solid #ccc 1px;
}


/* DivTable.com */
.divTable{
    display: table;
    width: 36%;
    font-size: 16px;
}

.divTable input {
    width: 3em;
    font-size: 16px;
    font-weight: 300;
    padding: 0.1em;
    border: solid #286A91 1px;
}
input#name {
    width: 10em;
    font-size: 14px;
}
.divTableRow {
    display: table-row;
}
.divTableRow.false .divTableCell{
    border: 1px solid #5EB268!important;
}
.divTableCell, .divTableHead {
    border: 1px solid #5986A0;
    display: table-cell;
    padding: 3px 10px;
    vertical-align: middle;
    text-align: center;
}
.divTableCell.left {
    text-align: left;
}

.salary {
    background-color: #99CEEE;
}
.divTableRow.true {
    background-color: #99CEEE;
}

.prepaid {
    background-color: #98F4A3;
}
.divTableRow.false {
    background-color: #98F4A3;
}

.nope {
    border: none;
}

.divTableCell.true {
    background: url("../img/cash3.png") transparent no-repeat center center;
    padding: 14px;
}
.divTableCell.false {
    background: url("../img/card.png") transparent no-repeat center center;
    padding: 14px;
}

.notEnough {
    border: solid red 1px !important;
}

.resultTable{
    display: table;
    width: 20%;
    font-size: 16px;
}

.overlimit {
    color: red;
    border: solid red 2px !important;
    font-weight: bold;
}
.salaryOverload {
    border: solid #599EC7 1px;
    background-color: #99CEEE;
}
.prepaidOverload {
    background-color: #98F4A3;
    border: solid #29A138 1px;
}

.finalAmount {
    border: inset;
    font-weight: bold;
}

.tooltipOverload {
    color: #c91628 !important;
    opacity: 0.85;
    padding: 4px 10px !important;
    border-radius: 2px !important;
    font-weight: bold;
}

.salaryHiddenButtons{
    display: inline-block !important;
    text-align: center;
}
.salaryHiddenButtons button{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
}

.editButtons {
    display: inline-block !important;
    vertical-align: middle;
    text-align: center;
}

.editButtons button {
    width: 42px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
}

#menuButton {
    display: none;
}

/*notice page start*/
#addNoteTable .divTableCell {
    vertical-align: middle;
}

#addNoteTable textarea {
    font-size: 12px;
    resize: none;
}

/* slider start */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 21px;
    border: solid #286A91 1px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5986A0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: #044956;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:after {
    content:'OFF';
    color: #000;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}
.slider.persons:after {
    content:'ONE';
}
.slider.salaryPrepaid:after {
    content:'Аванс';
}

input:checked + .slider {
    background-color: #7CE3F7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7CE3F7;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
input:checked + .slider:after {
    content:'ON';
}
input:checked + .slider.persons:after {
    content:'TWO';
}
input:checked + .slider.salaryPrepaid:after {
    content:'ЗП';
}
/*slider end*/

#notesTable {
    font-size: 12px;
}
#notesTable .divTableRow:nth-child(even),
#analysisListTable .divTableRow:nth-child(even),
#summaryTable .divTableRow:nth-child(even),
#addNoteTable .divTableRow:nth-child(even){
    background-color: #ebfced !important;
}

#notesTable .editButtons, #analysisListTable .editButtons {
    display: block !important;
}

.hiddenMobileLabels {
    display: none;
}
#addButton {
    display: none;
}

#unstuck {
    display: none;
}

@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {

    #menuButton {
        display: block;
        background-color: #BDBDBD;
        color: white;
        padding: 8px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin: 0 0 1em 0;
    }

    #mainmenu {
        position: relative;
        display: inline-block;
        margin: 10px 5px;
    }

    #dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    #dropdown-content a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
    }

    #dropdown-content a:hover {background-color: #f1f1f1}

    #mainmenu:hover #dropdown-content {
        display: block;
    }

    #mainmenu:hover #menuButton {
        background-color: #999999;
    }


    .divTable.tmp{
        display: block;
        width: 100%;
        font-size: 16px;
    }
    .divTable.tmp select {
        width: 5em;
        height: 1.9em;
    }
    .divTable.tmp input#name {
        width: 100%;
    }
    #tmpTable .delButton {
        margin: 2.3em 0 0 0;
    }
    .divTable.tmp .divTableRow {
        display: block;
        border: solid white 3px;
        min-height: 1em;
    }
    .divTable.tmp .divTableRow.head{
        display: none;
    }
    .divTable.tmp .divTableRow button{
        width: 4em;
        height: 1.8em;
    }
    .divTable.tmp .divTableCell {
        display: block;
        margin: 0 !important;
        border: none;
    }
    .divTable.tmp .divTableCell.amount {
        float: left;
    }
    .divTable.tmp .divTableCell.switcher {
        float: left;
    }
    .divTable.tmp .divTableCell.switcher .switch {
        margin: 0.3em 0 0 0;
    }
    .divTable.tmp .divTableCell.salaryPrepaid {
        float: left;
    }
    .divTable.tmp .divTableCell.withdraw {
        float: left;
    }
	
    .divTableCell.nope {
        display: none !important;
        border: none !important;
    }
    .divTableRow.false .divTableCell {
        border: none !important;
    }


    #withdraw {
        width: 8.4em;
    }


    .divTable.currentMonth {
        width: 100%;
    }

    .resultTable {
        display: table;
        width: 100%;
        font-size: 16px;
    }
    .resultTable .divTableRow {
        display: table-row !important;
    }
    .resultTable .divTableCell {
        display: table-cell !important;
    }

    .hiddenMobileLabels {
        display: inline;
        vertical-align: top;
        font-size: 12px;
    }

    .divTableAdd, .addWage, #addNoteTable{
        display: table;
        width: 36%;
        font-size: 16px;
    }

    #summaryTable button {
        display: block !important;
    }

    .divTableRow.salaryTable {
        display: block;
        font-size: 15px;
    }

    .divTableRow.header {
        display: none;
    }

    .divTableCell.salaryDate {
        float: left;
        height: 1.8em;
        width: 35%;
        padding: 1px 1px !important;
        border-bottom: none;
    }
    .divTableCell.salary {
        display: block;
        padding: 1px 1px !important;
    }

    .divTableCell.prepaidDate {
        border-top: 0px;
        float: left;
        height: 1.8em;
        width: 35%;
        padding: 1px 1px !important;
        border-bottom: none;
    }
    .divTableCell.prepaid {
        border-top: 0px;
        display: block;
        padding: 1px 1px !important;
    }
    .divTableCell.salaryEditButtons {
        border-top: 0px;
        display: block;
        margin: 0 0 1em 0;
    }
    .salaryHiddenButtons {
        height: 1em;
    }
    .divTableCell.salaryEditButtons button {
        width: 4em !important;
        margin: 0 1em 0 0 !important;
    }

    /* adaptive mobile add salary content design START */

    #showWageButton {
        display: none;
    }

    #addButton {
        display: block;
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        position: fixed;
        bottom: 0.5em;
        right: 0.5em;
        background-color: #5CDC6B;
        border: solid #5EB268 1px;
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        vertical-align: top;
        color: #fff;
        opacity: 0.7;
        cursor: pointer;
    }
    #addButton:hover {
        opacity: 1;
        border-color: #29A138;
        transition-duration: .4s;
        cursor: pointer;
    }
    #addButton span{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -45%);
        transform: translate(-50%, -45%);
    }

	#salaryTable {
        width: 100% !important;
    }

    #tmpTable {
        width: 94% !important;
    }

    /* adaptive mobile add salary content design END */

    #unstuck {
        display: block;
    }
}
