body {
    font-family: "Verdana", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 28px;
    transition-duration: .2s;
}

button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #5986A0;
    border:1px solid #286A91;
    color:#BDDCEE;
    padding:6px 8px;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #286A91;
    border:1px solid #5986A0;
    text-shadow: 0px 1px 1px #5986A0;
    cursor: pointer;
}

input {
    background-color: #e6faf5;
}

input[type="text"]:focus,
input[type="button"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="range"]:focus
{
    outline: none;
}​

textarea {
    background-color: #e6faf5;
}

.loginBackground {
    width: 150px;
    height: 150px;
    background: url("../img/login_min.png") transparent no-repeat center center;
    opacity: 0.8;
    margin: 0 auto;
}
.loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}
.loginForm input{
    border-radius: 4px;
    line-height: 2em;
    padding: 0.2em 0.4em;
    width: 15em;
    border: solid #286A91 1px;
    font-size: 1.2rem !important;
    font-weight: 600;
}
.rememberMeCheckbox {
    line-height: 1em !important;
    vertical-align: bottom;
    margin: 1em 0 0 0 !important;
    width: 1.5em !important;
    height: 1.5em !important;
}
.loginForm .submit{
    color: #fff;
    text-transform: uppercase;
    margin: 1em 0 0 0;
    width: 100%;
    background-color: #286A91;
    border: solid #286A91 1px;
}
.loginForm .submit:hover, .loginForm .submit:active {
    color: #000;
    background-color: #E6FAF5;
    transition-duration: .4s;
    cursor: pointer;
}


.date {
    width: 5.5em;
    font-size: 16px;
    text-align: center;
    margin: 0 0 10px 0;
}

.customFormDiv{
    display: flex;
    justify-content: left;
    font-size: 16px;
    font-weight: 600;
}

.customFormDiv input {
    width: 6em;
    font-size: 16px;
    font-weight: 300;
    padding: 0.1em;
}

.salaryAndPrepaidDiv {
    justify-content: space-between;
    flex-flow: row wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1.2em 0 0 0;
    padding: 1em;
    /*padding: 10px;*/
    border: solid #ccc 1px;
}

.salaryAndPrepaidDiv button {
    width: 5em;
    margin: 0 0 0 1em;
}

.capture {
    position: relative;
    padding: 0 5px;
    background-color: #fff;
    margin: 0 auto;
    border: solid #ccc 1px;
}

.mobileWageDate {
    display: none;
}

/* DivTable.com */
.divTable{
    display: table;
    width: 36%;
    font-size: 16px;
}

.divTable input {
    width: 3em;
    font-size: 16px;
    font-weight: 300;
    padding: 0.1em;
    border: solid #286A91 1px;
}
.divTable input#date {
    width: 5.5em;
}
.divTable.currentMonth input {
    color: #29A138;
}

input.name {
    width: 10em;
    font-size: 14px;
}
.divTableRow {
    display: table-row;
    position: relative;
}
.divTableRow.false .divTableCell{
    border: 1px solid #5EB268!important;
}
.divTableCell, .divTableHead {
    border: 1px solid #5986A0!important;
    display: table-cell;
    padding: 3px 10px;
    vertical-align: middle;
    text-align: center;
}
.divTableCell.left {
    text-align: left;
}

.salary {
    background-color: #99CEEE;
}
.divTableRow.true {
    background-color: #99CEEE;
}

.prepaid {
    background-color: #98F4A3;
}
.divTableRow.false {
    background-color: #98F4A3;
}

.nope {
    border: none !important;
}

.currentMonth.true {
    background: url("../img/cash3.png") transparent no-repeat center center;
    padding: 14px;
}
.currentMonth.false {
    background: url("../img/card.png") transparent no-repeat center center;
    padding: 14px;
}

.fillButton.false {
    background-color: #5EB268;
    border:1px solid #29A138;
    color:#BFF4C6;
}
.fillButton.false:hover {
    background-color: #29A138;
    text-shadow: 0px 1px 1px #5EB268;
}

.notEnough {
    color: red !important;
}

.resultTable .divTableCell span {
    color: #666;
    font-size: 0.7em;
    display: block;
    float: right;
    height: 0.7em;
    line-height: 0.7em;
}

.resultTable{
    display: table;
    width: 20%;
    font-size: 16px;
}

.overlimit {
    color: red;
    border: solid red 2px !important;
    font-weight: bold;
}
.salaryOverload {
    border: solid #599EC7 1px;
    background-color: #99CEEE;
}
.prepaidOverload {
    background-color: #98F4A3;
    border: solid #29A138 1px;
}

.finalAmount {
    border: inset;
    font-weight: bold;
}

.tooltipOverload {
    color: #c91628 !important;
    opacity: 0.85;
    padding: 4px 10px !important;
    border-radius: 2px !important;
    font-weight: bold;
}

.salaryHiddenButtons{
    display: inline-block !important;
    text-align: center;
}
.salaryHiddenButtons button{
    width: 24px;
    height: 24px;
    text-align: center;
}

.editButtons {
    display: inline-block !important;
    vertical-align: middle;
    text-align: center;
}

.editButtons button {
    width: 42px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
}

#menuButton {
    display: none;
}

/*notice page start*/
#addNoteTable .divTableCell {
    vertical-align: middle;
}

#addNoteTable textarea {
    font-size: 12px;
    resize: none;
}

/* slider start */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 21px;
    border: solid #286A91 1px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5986A0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: #044956;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:after {
    content:'OFF';
    color: #000;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}
.slider.persons:after {
    content:'ONE';
}
.slider.salaryPrepaid:after {
    content:'Аванс';
}
.slider.withdraw:after {
    content:'Безнал';
}

input:checked + .slider {
    background-color: #7CE3F7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7CE3F7;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/*input:checked + .slider:after {*/
    /*content:'ON';*/
/*}*/
input:checked + .slider.persons:after {
    content:'TWO';
}
input:checked + .slider.salaryPrepaid:after {
    content:'ЗП';
}
input:checked + .slider.withdraw:after {
    content:'Нал';
}
/*slider end*/

#notesTable {
    font-size: 12px;
}
/*#notesTable .divTableRow:nth-child(even),*/
#analysisListTable .divTableRow:nth-child(even),
#summaryTable .divTableRow:nth-child(even),
#addNoteTable .divTableRow:nth-child(even)
{
    background-color: #98F4A3 !important;
}

#addButton {
    display: none;
}

.unstuck {
    display: none;
}

.swipeDelete {
    display: none;
}

.mainMenuCloseBtn {
    display: none;
}

/* AllMonths start */

/* AllMonths start */
.wrap {
    width: 7em;
}
.divTableRow.inactive {
    opacity: 0.5;
}
.monthDate {
    display: block;
    padding: 0.2em;
    width: 7em;
    text-align: center;
    font-weight: 600;
    border: solid #5986A0 1px;
    background: #BDDCEE;
    color: #286A91;
    border-radius: 3px;
    margin-bottom: 0.2em;
}
.monthDate:hover {
    background: #286A91;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.hidden {
    display:none;
}

.clickDelete {
    display: none;
}

.marker {
    width: 1.2em; /**/
    height: 1.2em; /**/
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    background-color: #f80000;
    font-size: 0.8em;/**/
    color: #fff;
    line-height: 1.2em;/**/
    float: right;
    position: relative;
    top: -0.1em;/**/
    left: 0.9em;/**/
    /*border: solid #c70000 1px;*/
}

/* admin features  start */

#disabledPayments {
    border-left: solid #1a1a1a 1px !important;
}
.disabledPayments .divTableRow {
    background: #808080 !important;
}
.disabledPayments .divTableCell {
    opacity: 0.7;
    border: solid #1a1a1a 1px !important;
    border-left: 0px !important;
}
.restore {
    background: url("../img/restore.png") no-repeat center center #98F4A3;
    opacity: 1 !important;
    /*padding: 14px;*/
}


@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {

    .menuButtonDiv {
        height: 4em;
    }
    #menuButton {
        display: block;
        position: fixed;
        font-size: 2em;
        font-weight: 600;
        height: 1.6em;
        line-height: 0.3em;
        width: 1.6em;
        left: 0.4em;
        cursor: pointer;
        text-align: center;
        opacity: 0.5;
        z-index: 1;
        background-color: #286A91;
        border:1px solid #5986A0;
    }
    #menuButton:hover, #menuButton:active {
        opacity: 1;
    }

    .mainmenu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #286A91;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .mainmenu a {
        padding: 0.2em 0.2em 0.2em 0.5em;
        text-decoration: none;
        font-size: 1.5em;
        color: #99CEEE;
        display: block;
        transition: 0.3s;
    }

    .mainmenu a:hover {
        color: #BDDCEE;
    }

    .mainmenu .mainMenuCloseBtn {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
        font-size: 3em;
        margin-left: 5em;
    }

    /*TMP section start*/

    #currentDate {
        font-size: 2em;
        padding: 0.2em;
    }

    #tmpTable {
        width: 95% !important;
    }

    .divTable.tmp{
        display: block;
        width: 100%;
        font-size: 1.2em;
        padding: 0 !important;
    }
    .divTable.tmp select {
        width: 5em;
        height: 1.9em;
    }
    .divTable.tmp input {
        font-size: 1em;
    }
    .divTable.tmp .divTableRow {
        display: block;
        border-bottom: solid white 0.2em;
        min-height: 4.7em;
        height: 4.7em;
        position: relative;
    }
    .divTable.tmp .divTableRow.result {
        display: block;
        min-height: 2em;
        height: 2em;
    }
    .divTableCell.finalAmount {
        font-weight: bold;
        border: 0;
        border-top: solid white 10px;
        border-bottom: solid white 20px;
    }
    .amountTable {
        width: 95%;
    }
    .amountTable .divTableCell {
        display: block;
    }
    .divTable.tmp .divTableRow.head{
        display: none;
    }
    .divTable.tmp .divTableRow button{
        width: 4em;
        height: 1.8em;
    }
    .divTable.tmp .divTableCell {
        display: block;
        border: 0;
        border: none !important;
    }
    .divTable.tmp .divTableCell.name {
        display: block;
        float: left;
        width: 92%;
        border: none;
        font-size: 1.2em;
    }
    .divTable.tmp .divTableCell.del {
        display: none;
    }

    .clickDelete {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 99;
        text-align:center;
        color:transparent;
        visibility: hidden;
        display: block !important;
    }

    .confirm {
        background: #286A91;
        width: 100%;
        height: 0;
        transition-duration: .5s;
        transition-timing-function: ease-out;
        visibility: visible;
    }

    .yes,.no {
        position:absolute;
        height:50%;
        width:0;
        bottom:0;
        transition-duration: .5s;
        transition-timing-function: ease-out;
        visibility: visible;
    }
    .yes {
        background:red;
        left:0;
    }

    .no {
        background: #5CDC6B;
        right: 0;
    }

    .activeLR {
        width:50%;
        color:#fff;
    }
    .activeTop {
        height:50%;
        transform: height 0.3s;
        color:#fff;
    }

    .activeLR span{
        position: absolute;
        top: 15%;
        left: 40%;
    }
    .activeTop span {
        position: absolute;
        top: 8%;
        left: 40%;
    }

    .divTable.tmp .divTableCell.name {
        float: left;
        width: 60%;
        padding: 0.5em 0.5em 0 0.6em;
        font-size: 1.1em;
    }
    .divTable.tmp input#name {
        width: 100%;
        font-size: 1em;
        text-align: left !important;
    }
    .divTable.tmp .divTableCell.amount {
        float: left;
        width: 28%;
        height: 1.5em;
        padding: 0.5em 0.5em 0 0.2em;
        font-size: 1.1em;
    }
    .divTable.tmp .divTableCell.amount input{
        width: 75%;
        margin-top: 0rem !important;
        /*height: 1.9rem;*/
        padding: 0 0 !important;
        text-align: right;
        font-size: 1.2em;
    }
    .divTableRow.true input {
        background-color: #99CEEE;
        border: solid #99CEEE 1px;
    }
    .divTableRow.false input {
        background-color: #98F4A3;
        border: solid #98F4A3 1px;
    }
    .divTableRow.true input:hover, .divTableRow.true input:focus{
        background: #BDDCEE;
        border: solid #286A91 1px;
    }
    .divTableRow.false input:hover, .divTableRow.false input:focus{
        background: #BFF4C6;
        border: solid #5CDC6B 1px;
    }
    .divTable.tmp .divTableCell.switcher {
        display: inline-block;
        margin: 0 !important;
        padding: 0 !important;
        width: 50%;
    }


    /* slider start */
    .divTable.tmp .switch {
        top: 0.1em;
        width: 90%;
        height: 1.8em;
    }

    .divTable.tmp .slider:before {
        position: absolute;
        content: "";
        height: 1.6em;
        width: 50%;
        left: 0.1em;
        bottom: 0.1em;
        background-color: #044956;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .divTable.tmp input:checked + .slider:before {
        -webkit-transform: translateX(94%);
        -ms-transform: translateX(94%);
        transform: translateX(94%);
    }

    /*slider end*/


    .TMP {
        display: block;
        width: 53%;
        border-top: solid #5986A0 1px;
        margin: 0.4em 0 0 0;
    }
    .TMP.false {
        border-top: solid #5EB268 1px;
    }

    .fillButton {
        width: 40%;
        height: 3.5em;
        float: right;
        font-weight: 600;
    }
    .fillButton.false {
        background-color: #5EB268;
        border:1px solid #29A138;
        color:#BFF4C6;
    }
    .fillButton.false:hover {
        background-color: #29A138;
        text-shadow: 0px 1px 1px #5EB268;
    }


    .divTableCell.left.name {
        width: 33%;
    }
    .divTableCell.left.amount {
        width: 52%;
    }
    .divTableRow.prepaid .divTableCell {
        border: 1px solid #5EB268;
    }

    #tmpSubmit {
        width: 44%;
        margin: 0 1% 0 0;
        font-size: 2em;
    }

    /*TMP section end*/

    #showAddForm {
        display: none;
    }


    .divTableCell.nope {
        display: none !important;
        border: none !important;
    }
    /*.divTableRow.false .divTableCell {*/
        /*border: none !important;*/
    /*}*/


    #withdraw {
        width: 8.4em;
    }


    .divTable.currentMonth {
        width: 100%;
    }

    #submitMonth {
        width: 100%;
        font-size: 1.5em;
    }

    .resultTable {
        display: table;
        width: 100%;
        font-size: 16px;
    }
    .resultTable .divTableRow {
        display: table-row !important;
    }
    .resultTable .divTableCell {
        display: table-cell !important;
    }

    .divTableAdd, .addWage, #addNoteTable{
        display: table;
        width: 36%;
        font-size: 16px;
    }

    #summaryTable button {
        display: block !important;
    }

    .mobileWageDate {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.3em;
        color: #286A91;
        padding: 0.2em 0;
    }

    .divTableRow.salaryTable {
        display: block;
        font-size: 1.2em;
        line-height: 2em;
    }

    .divTableRow.header {
        display: none;
    }

    .divTableCell.salaryDate {
        float: left;
        height: 2em;
        width: 35%;
        padding: 1px 1px !important;
        border-bottom: none !important;
    }
    .divTableCell.salary {
        display: block;
        padding: 1px 1px !important;
    }

    .divTableCell.prepaidDate {
        border-top: 0px;
        float: left;
        height: 2em;
        width: 35%;
        padding: 1px 1px !important;
        border-bottom: none !important;
    }
    .divTableCell.prepaid {
        border-top: 0px;
        display: block;
        padding: 1px 1px !important;
    }

    .salaryEditButtons {
        padding: 0.1em  0.2em !important;
        border-top: 0px;
        display: block;
        margin: 0 0 1em 0;
    }

    .editButtons {
        margin: 0 auto !important;
        width: 100%;
    }
    .salaryHiddenButtons {
        margin: 0 auto !important;
        width: 100%;
    }

    .salaryEditButtons button{
        width: 49%;
        font-size: 1.2em;
        line-height: 1.2em;
        height: 1.6em;
    }

    /* adaptive mobile add salary content design START */

    .hidden .date {
        font-size: 1.1em;
        line-height: 1.3em;
        width: 87%;
        background-color: #BDDCEE;
        border: solid #599EC7 1px;
    }

    .hidden .date.prepaid {
        background-color: #BFF4C6;
        border: solid #5CDC6B 1px;
    }

    .hidden .salaryInput {
        text-align: center;
        font-size: 1.1em;
        line-height: 1.3em;
        border: solid #599EC7 1px;
        width: 58%;
        background-color: #BDDCEE;
    }
    .hidden .prepaidInput {
        text-align: center;
        font-size: 1.1em;
        line-height: 1.3em;
        width: 58%;
        background-color: #BFF4C6;
        border: solid #5CDC6B 1px;
    }

    #showWageButton {
        display: none;
    }

    #addButton {
        display: block;
        border-radius: 50%;
        width: 2.2em;
        height: 2.2em;
        position: fixed;
        bottom: 0.9em;
        right: 0.4em;
        background-color: #5CDC6B;
        border: solid #5EB268 1px;
        font-size: 2.2em;
        font-weight: bold;
        text-align: center;
        vertical-align: top;
        color: #fff;
        opacity: 0.5;
        cursor: pointer;
    }
    #addButton:hover {
        opacity: 1;
        border-color: #29A138;
        transition-duration: .4s;
        cursor: pointer;
    }
    #addButton span{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -45%);
        transform: translate(-50%, -45%);
    }

	#salaryTable {
        width: 100% !important;
    }

    /* adaptive mobile add salary content design END */

    .unstuck {
        display: block;
        width: 44%;
        font-size: 2em;
        margin: 0 1% 0 0 !important;
        float: left;
    }

    #addNoteTable {
        display: none;
    }

    #notesTable {
        width: 100%;
        table-layout:fixed;
    }
    #notesTable .divTableRow{
        width: 100%;
    }

    .divTableRow.head {
        display: none;
    }

    .divTableRow.note {
        display: block;
        margin-bottom: 1em !important;
    }

    .noteDate {
        display: block;
        float: none;
        font-size: 2.5em;
        text-align: center;
    }
    .noteDate input {
        width: 50% !important;
        margin: 0 auto;
        background: #BDDCEE !important;
        border: solid #99CEEE 1px !important;
    }
    .noteDate span {
        display: inline-block;
        margin: auto 0.4em;
    }

    .noteTextCrop {
        font-size: 1.3em;
        display: block;
        float: none;
        border-top: 0;
        line-height: 1.4em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .noteTextInput {
        display: block;
        float: none;
        border-top: 0 ;
        height: 8.5em;
        overflow: hidden;
        line-height: 1em;
        padding: 0 !important;
    }
    .noteTextarea{
        margin: 0.2em 0 0 0 !important;
        padding: 0 !important;
        width: 98% !important;
        resize: none;
        overflow: auto;
        height: 7em;
        background: #BDDCEE !important;
        border: none !important;
    }

    /* width */
    .noteText::-webkit-scrollbar {
        width: 1.5em;
    }

    /* Track */
    .noteText::-webkit-scrollbar-track {
        background: #98F4A3;
    }

    /* Handle */
    .noteText::-webkit-scrollbar-thumb {
        background: #5CDC6B;
    }

    /* Handle on hover */
    .noteText::-webkit-scrollbar-thumb:hover {
        background: #29A138;
    }

    .noteButtons {
        display: block !important;
        border-top: 0 !important;
    }

    .remindBoolean {
        display: none !important;
    }

    .bell.false {
        background: url("../img/notRemind.png") transparent no-repeat center center;
        height: 32px;
        width: 29px;
        cursor: pointer;
    }
    .bell.true {
        background: url("../img/remind.png") transparent no-repeat center center;
        height: 32px;
        width: 36px;
        cursor: pointer;
    }

    /* AllMonths start */
    .wrap {
        width: 100%;
    }
    .allMonths .divTableCell.name {
        width: 27%;
    }
    .allMonths .divTableCell.amount {
        width: 38%;
    }
    .allMonths .divTableCell.salaryPrepaid {
        width: 15%;
    }
    .monthDate {
        width: 98%;
        margin: 0.5em 0 0.5em 0;
    }

    .marker {
        width: 1.2em;
        height: 1.2em;
        font-size: 1em;
        line-height: 1.4em;
        top: -0.2em;
        left: 0.2em;
        /*border: solid #c70000 1px;*/
    }

    /* admin features  start */

    .divTable.disabledPayments {
        width: 100%!important;
    }

    .stickQuestion {
        font-size: 1.5em;
        height: 1.5em;
    }
    .stickQuestion input{
        line-height: 1em !important;
        vertical-align: middle;
        margin: 0 !important;
        width: 0.8em !important;
        height: 0.8em !important;
    }

    .noteEditButtons button {
        font-size: 1.5em !important;
        line-height: 1.5em !important;
        height: 2em !important;
    }

}
.stuckSpend {
    background: url("../img/arrow.png") transparent no-repeat right top;
    cursor: pointer;
    position:relative;
}
.allMonthNote {
    font-size: 0.9em !important;
    width: 58% !important;
}

.allMonths.true {
    background: url("../img/cash3.png") transparent no-repeat center center;
    padding: 0 16px;
}
.allMonths.false {
    background: url("../img/card.png") transparent no-repeat center center;
    padding: 0 18px;
}