body {
    font-family: "Verdana", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 28px;
}

.ui-dialog-titlebar-close{
    width: 10%;
    height: 30px;
    margin: 0 0 0 89%;
    font-size: 0;
    background: url("../img/close.png") transparent;
    border: 0;
    text-decoration: none;
}
.ui-dialog-titlebar-close:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.fail-dialog-titlebar {
    color: #c91628 !important;
}
.fail-button button:active {
    background-color: #c91628 !important;
}
.fail-button button:hover {
    background-color: #c91628 !important;
}

.done-dialog-titlebar {
    color: #77dd77 !important;
}
.done-button button:active {
    background-color: #77dd77 !important;
}
.done-button button:hover {
    background-color: #77dd77 !important;
}

.date {
    width: 5.5em;
    font-size: 16px;
    text-align: center;
    margin: 0 0 10px 0;
}

.customFormDiv{
    display: flex;
    justify-content: left;
    font-size: 16px;
    font-weight: 600;
}

.customFormDiv input {
    width: 6em;
    font-size: 16px;
    font-weight: 300;
    padding: 0.1em;
}

.salaryAndPrepaidDiv {
    justify-content: space-between;
    flex-flow: row wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1.2em 0 0 0;
    padding: 1em;
    /*padding: 10px;*/
    border: solid #ccc 1px;
}

.salaryAndPrepaidDiv button {
    width: 5em;
    margin: 0 0 0 1em;
}

.capture {
    position: relative;
    padding: 0 5px;
    background-color: #fff;
    margin: 0 auto;
    border: solid #ccc 1px;
}


/* DivTable.com */
.divTable{
    display: table;
    width: 36%;
    font-size: 16px;
}

.divTable input {
    width: 3em;
    font-size: 16px;
    font-weight: 300;
    padding: 0.1em;
}
input#name {
    width: 10em;
    font-size: 14px;
}
.divTableRow {
    display: table-row;
}
.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.salary {
    background-color: #FFC9BF;
}
.divTableRow.true {
    background-color: #FFC9BF;
}

.prepaid {
    background-color: #8CF8FF;
}
.divTableRow.false {
    background-color: #8CF8FF;
}

.nope {
    border: none;
}

.divTableCell.true {
    background: url("../img/cash3.png") transparent no-repeat center center;
    padding: 14px;
}
.divTableCell.false {
    background: url("../img/card.png") transparent no-repeat center center;
    padding: 14px;
}

.notEnough {
    border: solid red 2px !important;
}

.resultTable{
    display: table;
    width: 20%;
    font-size: 16px;
}

.overlimit {
    color: #c91628;
    border: solid #c91628 2px;
    font-weight: bold;
}

.limit {
    color: #77dd77;
}

.tooltipOverload {
    color: #c91628 !important;
    opacity: 0.85;
    padding: 4px 10px !important;
    border-radius: 2px !important;
    font-weight: bold;
}

.salaryHiddenButtons{
    display: inline-block !important;
    vertical-align: middle;
    text-align: center;
}
.salaryHiddenButtons button{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
}

.salaryEditButtons {
    display: inline-block !important;
    vertical-align: middle;
    text-align: center;
}

.salaryEditButtons button {
    width: 42px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
}

#menuButton {
    display: none;
}

/*notice page start*/
#createNoteTable .divTableCell {
    vertical-align: middle;
}

#createNoteTable textarea {
    font-size: 12px;
    resize: none;
}


#createNoteTable .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 21px;
}

/* Hide default HTML checkbox */
#createNoteTable .switch input {display:none;}

/* The slider */
#createNoteTable .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#createNoteTable .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#createNoteTable input:checked + .slider {
    background-color: #2196F3;
}

#createNoteTable input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#createNoteTable input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/*notice page end*/



@media only screen and (max-width: 1079px), only screen and (max-device-width: 1079px) {

    #menuButton {
        display: block;
        background-color: #BDBDBD;
        color: white;
        padding: 8px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin: 0 0 1em 0;
    }

    #mainmenu {
        position: relative;
        display: inline-block;
    }

    #dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    #dropdown-content a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
    }

    #dropdown-content a:hover {background-color: #f1f1f1}

    #mainmenu:hover #dropdown-content {
        display: block;
    }

    #mainmenu:hover #menuButton {
        background-color: #999999;
    }

    .divTable.tmp{
        display: block;
        width: 100%;
        font-size: 14px;
    }
    .divTable.tmp input {
        width: 3em;
        font-weight: 300;
        padding: 0.1em;
    }
    .divTable.tmp select {
        width: 5em;
        height: 1.9em;
    }
    .divTable.tmp input#name {
        width: 100%;
    }
    .divTable.tmp .divTableRow {
        display: block;
        border: outset;
    }
    .divTable.tmp .divTableRow.head{
        display: none;
    }
    .divTable.tmp .divTableRow button{
        width: 4em;
        height: 1.8em;
    }
    .divTable.tmp .divTableCell {
        display: block;
        margin: 0 2%;
        border: none;
    }
    .divTable.tmp .divTableCell.amount {
        float: left;
    }
    .divTable.tmp .divTableCell.salaryPrepaid {
        float: left;
    }
    .divTable.tmp .divTableCell.withdraw {
        float: left;
    }
	divTableCell.finalAmount {
		font-size:18px;
	}
    .divTableCell.nope {
        display: none;
        border: none;
    }

    #withdraw {
        width: 8.4em;
    }


    .divTable.currentMonth {
        width: 100%;
    }

    .resultTable {
        display: table;
        width: 100%;
        font-size: 16px;
    }
    .resultTable .divTableRow {
        display: table-row !important;
    }
    .resultTable .divTableCell {
        display: table-cell !important;
    }

}