<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<link href="../static/css/datepicker.css" th:href="@{/css/datepicker.css}" rel="stylesheet" />
<link href="../static/css/noty.css" th:href="@{/css/noty.css}" rel="stylesheet" />
<link href="../static/css/themes/metroui.css" th:href="@{/css/themes/metroui.css}" rel="stylesheet" />
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="../static/js/noty.min.js" th:src="@{/js/noty.min.js}" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${title}"></title>

