<div id="mainmenu" xmlns:th="http://www.thymeleaf.org">
    <button id="menuButton" type="button">Menu</button>
    <div id="dropdown-content">
        <a th:href="@{/}">Home</a>&nbsp;
        <a th:href="@{/admin}">Admin</a>&nbsp;
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/salary}">Salaries</a>&nbsp;
            <a th:href="@{/editTMP}">Edit payment template</a>&nbsp;
            <a th:href="@{/currentMonth}">Current month</a>&nbsp;
            <a th:href="@{/notes}">Notes</a>&nbsp;
            <a id="newMonth" href="#">Create new month</a>&nbsp;
        </span>
        <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
    </div>
</div>
<th:block sec:authorize="isAuthenticated()">
    <div style="display: none" id="month-success" title="Create success">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>The month has been created successfully.</p>
    </div>
    <div style="display: none" id="month-fail" title="ERROR">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0"></span>ERROR. The month already been created?</p>
    </div>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#newMonth').click(function () {
                $.ajax({
                    type: "get",
                    url : '/createNewMonth'
                }).done(function()  {
                    $("#month-success").dialog({
                        classes: {
                            "ui-dialog-titlebar": "done-dialog-titlebar",
                            "ui-dialog-buttonset": "done-button"
                        },
                        resizable: false,
                        height: "auto",
                        width: 400,
                        modal: true,
                        draggable: false,
                        buttons: {
                            "OK": function () {
                                $(this).dialog("close");
                            }
                        }
                    })
                }).fail(function()  {
                    $("#month-fail").dialog({
                        classes: {
                            "ui-dialog": "ui-dialog-fail"
                        },
                        resizable: false,
                        height: "auto",
                        width: 400,
                        modal: true,
                        draggable: false,
                        buttons: {
                            "OK": function () {
                                $(this).dialog("close");
                            }
                        }
                    })
                });
            });
        });
    </script>
    <script th:inline="javascript">
        notes = /*[[${notes}]]*/ "";
        $(document).ready(function() {
            searchForRemind();
        });
    </script>
<script src="../static/js/notes.js" th:src="@{/js/notes.js}" type="text/javascript"></script>
</th:block>