<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <th:block th:include="_header"></th:block>
</head>
<body>
<th:block th:include="_menu"></th:block>
<div xmlns:th="http://www.thymeleaf.org" style="border: 1px solid #ccc;padding:5px;margin-bottom:40px;">

    <span id="lastMonthIs">Последний месяц: </span><br />
    <a href="#" id="delLastMonth">Удалить</a><br />
    <a href="#">Сбросить счетчик ID</a>
    <br /><br />
    <a id="deletedSpends" href="#">Удаленные статьи расходов</a>


</div>
<h2>Admin Page</h2>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

<div id="disabledPayments" class="divTable disabledPayments"></div>

<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        lastMonth = /*[[${lastMonth}]]*/ "";
        disabledPayments = /*[[${disabledPayments}]]*/ "";
        $(document).ready(function() {

            $('#disabledPayments').hide();

            $('#deletedSpends').click(function () {
                if ($('#disabledPayments').is(':visible')) {
                    $('#disabledPayments').hide(500);
                } else {
                    $('#disabledPayments').show(500);
                }
            });

            $('#delLastMonth').click(function () {
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "GET",
                    // url: "/delLastMonth",
                    success: $(document).ajaxStop(function () {
                        window.location.reload();
                    })
                });
            });

            $('#lastMonthIs').append(lastMonth[0].date);

            $(function() {
                payments = disabledPayments.slice(0);
                payments.sort(function(a,b) {
                    return a.index - b.index;
                });

                payments.forEach(function (item, n) {

                    var salaryPrepaid;
                    if (item.salaryPrepaid == 'true') salaryPrepaid = 'ЗП';
                    else salaryPrepaid = 'Аванс';
                    $('#disabledPayments').append(
                        "<div name='" + item.id + "' class='divTableRow " + item.id + "'>"
                            + "<div class='divTableCell left disabled name'>"
                                + item.name
                            + "<input type='hidden' name='id' value='" + item.id + "' disabled />"
                            + "</div>"
                            + "<div class='divTableCell amount'>"
                                + item.amount
                                + " ₽"
                            + "</div>"
                            + "<div class='divTableCell salaryPrepaid'>"
                                + salaryPrepaid
                            + "</div>"
                            + "<div class='divTableCell withdraw currentMonth " + item.withdraw + "'></div>"
                            + "<div style='display: none' id='" + item.id + "' class='divTableCell restore " + item.id + "'>&nbsp;</div>"
                        + "</div>"
                    );

                });

            });

            $('#disabledPayments').on("click", ".divTableCell", function (x) {
                var id = $(x.currentTarget).parent().attr("name");
                if ($('#' + id).is(':visible')) {
                    if ($(this).hasClass('restore')) {
                        restoreSpend(id)
                    } else {
                        $('#' + id).hide(300);
                    }
                } else {
                    $('#' + id).show(300);
                }
            });

            function restoreSpend(i) {
                var id = i;
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "post",
                    url: "/restoreSpend",
                    data: id,
                    success: $(document).ajaxStop(function () {
                        window.location.reload();
                    })
                });
            }

        });
    </script>
</th:block>
</body>

</html>