<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <th:block th:include="_header"></th:block>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="_menu"></th:block>
<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:40px;">

    <a th:href="@{#}">Admin feature #1</a>

    | &nbsp;

    <a th:href="@{#}">Admin feature #2</a>


</div>

<h2>Admin Page</h2>
<h3>Welcome :
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>
<b>This is protected page!</b>

<br/><br/>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

</body>

</html>