<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <th:block th:include="_header"></th:block>
</head>
<body>
<th:block th:include="_menu"></th:block>
<div xmlns:th="http://www.thymeleaf.org" style="border: 1px solid #ccc;padding:5px;margin-bottom:40px;">

    <span id="lastMonthIs">Последний месяц: </span><br />
    <a href="#" id="delLastMonth">Удалить</a><br />
    <a href="#">Сбросить счетчик ID</a>


</div>

<h2>Admin Page</h2>
<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        lastMonth = /*[[${lastMonth}]]*/ "";
        $(document).ready(function() {
            $('#delLastMonth').click(function () {
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "GET",
                    url: "/delLastMonth",
                    success: $(document).ajaxStop(function () {
                        window.location.reload();
                    })
                });
            });
            $('#lastMonthIs').append(lastMonth[0].date);
        })
    </script>
</th:block>
</body>

</html>