<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="_header"></th:block>
</head>
<body>

<div style="display: none" id="dialog-success" title="Save success">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>The month has been saved successfully.</p>
</div>


<th:block th:include="_menu"></th:block>
<div id="currentDate"></div>
<div id="currentMonth" class="divTable currentMonth"></div>
<p>
    <button id="submitMonth" class="submit" value="Submit">Submit</button>
</p>
<div class="resultTable"></div>
<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">

        currentMonth = /*[[${currentMonth}]]*/ "";

        $(document).ready(function() {

            appendCurrentDateTable();

            appendResultTable();

            $('.applyButton').hide();

            $("#submitMonth").click( function(e) {
                e.preventDefault();
                submitMonth();
            });

            $(".amount").focus(function() {
                var val = $(this).val();
                val == '0' ? $(this).val('') : val;
                $('.applyButton').hide();
                $(".fillButton").show();
            });

            $(".amount").focusout(function () {
                var val = $(this).val();
                val == '' ? $(this).val('0') : val;
            });

            $(".amount").on("change paste keyup", function() {
                var id = $(this).attr("name");
                $('#' + id).hide();
                $('.applyButton.' + id).show();
            });

            $(".fillButton").click( function(f) {
                f.preventDefault();

                $('.applyButton').hide();
                $(".fillButton").show();

                $(this).hide();
                var myId = $(this).attr("id");
                $('.applyButton.' + myId).show();
                var myValue = $(this).attr("value");
                $('#amount' + myId).val(myValue);
            });

            $(".applyButton").click( function(e) {
                e.preventDefault();
                submitMonth();
            });


        });
    </script>
    <script src="../static/js/currentMonth.js" th:src="@{/js/currentMonth.js}" type="text/javascript"></script>
    <script src="../static/js/currentMonthSubmit.js" th:src="@{/js/currentMonthSubmit.js}" type="text/javascript"></script>
</th:block>
</body>
</html>
