<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="_header"></th:block>
</head>
<body>

<div style="display: none" id="dialog-success" title="Save success">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>The month has been saved successfully.</p>
</div>


<th:block th:include="_menu"></th:block>
<div id="currentDate"></div>
<form id="actionForm" method="post">
    <div class="divTable currentMonth"></div>
    <p>
        <button class="submit" value="Submit">Submit</button>
    </p>
</form>
<div class="resultTable"></div>
<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        curMonth = /*[[${currentMonth}]]*/ "";

        $(document).ready(function() {
            appendCurrentDateTable();

            appendResultTable();

            $("button").click( function(e) {
                var myClass = $(this).attr("class");
                var myValue = $(this).attr("value");
                if ( myClass == 'submit'){
                } else{
                    e.preventDefault();
                    $('#amount' + myClass).val(myValue);
                }
            });
        });
    </script>
    <script src="../static/js/currentMonth.js" th:src="@{/js/currentMonth.js}" type="text/javascript"></script>
    <script src="../static/js/currentMonthSubmit.js" th:src="@{/js/currentMonthSubmit.js}" type="text/javascript"></script>
</th:block>
</body>
</html>
