<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="_header"></th:block>
</head>
<body>
<th:block th:include="_menu"></th:block>

<div style="display: none" id="dialog-confirm" title="Delete the spend?"><span class="mobileDialogText">Are you sure?</span></div>
<div style="display: none" id="appendToCurrentMonth">Are you sure?</div>
<div style="display: none" id="mobileAddSpend">
    <form>
        <fieldset>
            <p>
                <label for="mobileName">Name: </label>
                <input type="text" name="mobileName" id="mobileName" class="text ui-widget-content ui-corner-all">
            </p>
            <p>
                <label for="mobileAmount">Amount: </label>
                <input type="text" name="mobileAmount" id="mobileAmount" class="text ui-widget-content ui-corner-all">
            </p>
            <p><span class="unhideLabel">Salary / Prepaid:</span>
                <label class="switch">
                    <input class="mobileSalaryPrepaid" id="mobileSalaryPrepaid" name="mobileSalaryPrepaid" type="checkbox">
                    <span class="slider salaryPrepaid"></span>
                </label>
            </p>
            <p><span class="unhideLabel">Withdraw:</span>
                <label class="switch">
                    <input class="mobileWithdraw" id="mobileWithdraw" name="mobileWithdraw" type="checkbox">
                    <span class="slider withdraw"></span>
                </label>
            </p>
            <p>
                <input class="mobileApplyToCurrentMonth" id="applyToCurrentMonth" name="applyToCurrentMonth" type="checkbox" checked>
                <span class="unhideLabel">Apply to current month.</span>
            </p>
        </fieldset>
    </form>
</div>

<div id="tmpTable" class="divTable tmp">
    <div class="divTableRow head">
        <div class="divTableCell">Name:</div>
        <div class="divTableCell">Amount:</div>
        <div class="divTableCell">Salary/Prepaid:</div>
        <div class="divTableCell">Withdraw:</div>
        <div class="divTableCell">X</div>
    </div>
</div>
<div id="tmpAmount" class="divTable amountTable"></div>
<div class="tmpButtons">
    <button class="unstuck">Sort</button>
    <button id="tmpSubmit" class="submit" value="Submit">Save</button>
</div>
<p><button id="hideAddForm">Hide form</button></p>


<div class="divTable pcAddForm">
    <div class="divTableRow">
        <div class="divTableCell">Name:</div>
        <div class="divTableCell">Amount:</div>
        <div class="divTableCell">Salary/Prepaid:</div>
        <div class="divTableCell">Withdraw:</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"><input type="text" id="newName" name="newName" /></div>
        <div class="divTableCell"><input type="text" id="newAmount" name="amount" /></div>
        <div class="divTableCell">
            <label class="switch">
                <input class="salaryPrepaid" id="newSalaryPrepaid" name="newSalaryPrepaid" type="checkbox">
                <span class="slider salaryPrepaid"></span>
            </label>
        </div>
        <div class="divTableCell">
            <label class="switch">
                <input class="withdraw" id="newWithdraw" name="withdraw" type="checkbox">
                <span class="slider withdraw"></span>
            </label>
        </div>
    </div>

    <p>
    <button id="addNewSpend" class="submit" value="Submit">Add</button>
    </p>
</div>

<button id="showAddForm">Add new spend</button>


<div class="mobileAddButton" id="addButton">
    <span>+</span>
</div>



<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        $(document).ready(function() {
            tmp = /*[[${payments}]]*/ "";
            lastMonth = /*[[${lastMonth}]]*/ "";
            // lastWage = /*[[${lastWage}]]*/ "";

            appendTMPTable();
            overloadTooltip();

            var tmpArr = [];
            tmp.forEach(item => tmpArr.push(+item.id));
            var monthArr = [];
            lastMonth.forEach(item => monthArr.push(+item.spendId));

            var diff = $(tmpArr).not(monthArr).get();

            markNotExistingSpends(diff);

            $("#hideAddForm").hide();
            $(".pcAddForm").hide();

            $("#hideAddForm").click(function(h){
                h.preventDefault();
                $(".pcAddForm").hide();
                $("#showAddForm").show();
                $("#hideAddForm").hide();
            });
            $("#showAddForm").click(function(s){
                s.preventDefault();
                $(".pcAddForm").show();
                $("#showAddForm").hide();
                $("#hideAddForm").show();
            });

            $("#tmpSubmit").click(function (s) {
                s.preventDefault();
                saveTMPTable();
            });

            $(".mobileAddButton").click(function (a) {
                a.preventDefault();
                addNewSPendMobile();
            });

            $("#addNewSpend").click(function (a) {
                a.preventDefault();
                addNewSpend($('#newName').val(), $('#newAmount').val(), $('#newSalaryPrepaid').is(':checked'), $('#newWithdraw').is(':checked'));
            });

            $(".delButton").click(function(d) {
                d.preventDefault();
                var id = $(this).attr('id');
                delTMPFunc(id);
            });
        });
    </script>
    <script src="../static/js/editTemplate.js" th:src="@{/js/editTemplate.js}" type="text/javascript"></script>
    <script src="../static/js/editTMPSubmit.js" th:src="@{/js/editTMPSubmit.js}" type="text/javascript"></script>
</th:block>
</body>
</html>