<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <th:block th:include="_header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="_menu"></th:block>
</head>
<body>
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Login Failed!!!<br />
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

</div>
<div sec:authorize="!isAuthenticated()">
    <div class="loginForm">
        <div class="loginBackground"></div>
        <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <table>
                <tr>
                    <td id="user"><input type='text' name='username' value='' placeholder="Login"></td>
                </tr>
                <tr>
                    <td id="password"><input type='password' name='password' placeholder="Password" /></td>
                </tr>
                <!--<tr>-->
                    <!--<td>Remember Me?</td>-->
                    <!--<td><input type="checkbox" name="remember-me" /></td>-->
                <!--</tr>-->
                <tr>
                    <td><input class="submit" name="submit" type="submit" value="submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>

</html>