<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <th:block th:include="_header"></th:block>
</head>

<body>
<th:block th:include="_menu"></th:block>

<div style="display: none" id="mobileAddNote">
    <form>
        <fieldset>
            <p>
                <label for="mobileDate">Date: </label>
                <input type="text" id="mobileDate">
            </p>
            <p>
                <label for="mobileText">Text: </label>
                <textarea id="mobileText"></textarea>
            </p>
            <p><span class="unhideLabel">Is remind?:</span>
                <label class="switch">
                    <input class="mobileIsRemind" id="mobileIsRemind" type="checkbox">
                    <span class="slider"></span>
                </label>
            </p>
        </fieldset>
    </form>
</div>

<div id="addNoteTable" class="divTable">
    <div class="divTableRow">
        <div class="divTableCell">Note date:</div>
        <div class="divTableCell">Note text:</div>
        <div class="divTableCell">Is remind?</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"><input type="text" id="date" name="date" /></div>
        <div class="divTableCell"><textarea rows="4" cols="50" id="text" name="text" ></textarea></div>
        <div class="divTableCell">
            <label class="switch">
                <input id="isRemind" name="isRemind" type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
<button class="addNotePC" type="button">SAVE</button>
<p><br /></p>
</div>

<div id="notesTable" class="divTable">
    <div class="divTableRow head">
        <div class="divTableCell">Note date:</div>
        <div class="divTableCell">Note text:</div>
        <div class="divTableCell">Is remind?</div>
        <div class="divTableCell"> XXX </div>
    </div>
</div>

<div id="addButton" class="addNoteMobile"> <span>+</span> </div>

<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        notes = /*[[${notes}]]*/ "";
        $(document).ready(function() {

            appendNotes();

            $(".bell").click(function (b) {
                b.preventDefault();

                var noteId = $(this).attr('id');
                var noteDate = $('.divTableCell.' + noteId + '.noteDate').text();
                var noteText = $('.divTableCell.' + noteId + '.noteText').text();
                
                if ($(this).hasClass('false')) {
                    var noteIsRemind = true;
                    $(this).switchClass('false', 'true', 400, "swing");
                } else if ($(this).hasClass('true')) {
                    var noteIsRemind = false;
                    $(this).switchClass('true', 'false', 400, "swing");
                }

                console.log(JSON.stringify({id: noteId, date: noteDate, text: noteText, remind: noteIsRemind}));

                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "post",
                    url: "/saveExistNote",
                    dataType : 'json',
                    data : JSON.stringify({id: noteId, date: noteDate, text: noteText, remind: noteIsRemind})
                });
            });

        })
    </script>
    <script src="../static/js/notes.js" th:src="@{/js/notes.js}" type="text/javascript"></script>
</th:block>
</body>
</html>