<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>newMonth</title>
    <th:block th:include="_header"></th:block>
</head>

<body>
<th:block th:include="_menu"></th:block>

<div id="summaryTable" class="divTable">
    <div class="divTableRow">
        <div class="divTableCell">Salary date:</div>
        <div class="divTableCell">Salary amount:</div>
        <div class="divTableCell">Prepaid date:</div>
        <div class="divTableCell">Prepaid amount:</div>
        <div class="divTableCell"> XXXXXX </div>
    </div>
</div>
<br/>
<p>
    <button id="showWageButton" type="button">Add new wage</button>
</p>

<div class="addWage" id="newWage" style="display: none">
    <div class="divTableRow">
        <div class="divTableCell">Date:</div>
        <div class="divTableCell">Salary / Prepaid:</div>
        <div class="divTableCell">Amount:</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">
            <input type="text" id="date" name="date" autocomplete="off" />
        </div>
        <div class="divTableCell">
            <select id="salaryPrepaid" name="salaryPrepaid">
                <option>Salary</option>
                <option>Prepaid</option>
            </select>
        </div>
        <div class="divTableCell">
            <input type="text" id="amount" name="amount" />
        </div>
    </div>
    <p>
        <button class="submit" value="Submit">Add</button>
    </p>
</div>

<script th:inline="javascript">
    $(document).ready(function() {

        allWages = /*[[${allWages}]]*/ "";

        for (i = 0; i < allWages.length; i++) {
            $(".divTable").append(
                "<div class='divTableRow " + allWages[i].id + "'>" +
                    "<input type='hidden' id='id' name='id' value='" + allWages[i].id + "' />" +

                    "<div class='divTableCell " + allWages[i].id + "'>" + allWages[i].salaryDate + "</div>" +
                    "<div class='divTableCell " + allWages[i].id + "'>" + allWages[i].salary + " ₽</div>" +
                    "<div class='divTableCell " + allWages[i].id + "'>" + allWages[i].prepaidDate + "</div>" +
                    "<div class='divTableCell " + allWages[i].id + "'>" + allWages[i].prepaid + " ₽</div>" +
                    "<div class='divTableCell " + allWages[i].id + "'>" +
                        "<div class='salaryEditButtons'>" +
                            "<button class='editButton' id='" + allWages[i].id + "'>EDIT</button>&nbsp;" +
                            "<button class='delButton' id='" + allWages[i].id + "'>DEL</button>" +
                        "</div>" +
                    "</div>" +

                    "<div class='divTableCell hidden " + allWages[i].id + "'>" +
                        "<input type='hidden' id='salaryId' name='salaryId' value='" + allWages[i].id + "' />" +
                        "<input style='width: 90px;' type='text' id='salaryDate' name='salaryDate' value='" + allWages[i].salaryDate + "' />" +
                    "</div>" +
                    "<div class='divTableCell hidden " + allWages[i].id + "'>" +
                        "<input style='width: 60px;' type='text' id='salary' name='salary' value='" + allWages[i].salary + "' />" +
                    "</div>" +
                    "<div class='divTableCell hidden " + allWages[i].id + "'>" +
                        "<input style='width: 90px;' type='text' id='prepaidDate' name='prepaidDate' value='" + allWages[i].prepaidDate + "' />" +
                    "</div>" +
                    "<div class='divTableCell hidden " + allWages[i].id + "'>" +
                        "<input style='width: 60px;' type='text' id='prepaid' name='prepaid' value='" + allWages[i].prepaid + "' />" +
                    "</div>" +
                    "<div class='divTableCell hidden " + allWages[i].id + "'>" +
                        "<div class='salaryHiddenButtons'><button class='saveButton' id='" + allWages[i].id + "'>✓</button> <button class='cancelButton' id='" + allWages[i].id + "'>X</button></div>" +
                    "</div>" +
                "</div>");
        }

        $(".divTableCell.hidden").hide();

        $("#showWageButton").click(function () {
            $("#newWage").show("slow");
        });

        $(".editButton").click(function() {
            var id = $(this).attr('id');

            $('.divTableCell').show();
            $('.divTableCell.hidden').hide();

            $('.divTableCell.' + id).hide();
            $('.divTableCell.hidden.' + id).show();
        });

        $(".delButton").click(function(v) {
            v.preventDefault();
            var id = $(this).attr('id');
            console.log(id);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "post",
                url: "/delSalary",
                data : id,
                success: $(document).ajaxStop(function(){
                    window.location.reload();
                })
            });

        });

        $(".cancelButton").click(function() {
            var id = $(this).attr('id');
            $('.divTableCell.' + id).show();
            $('.divTableCell.hidden.' + id).hide();
        });

        $(".saveButton").click(function (e) {
            e.preventDefault();

            existSalaryId = $('#salaryId').val();
            existSalaryDate = $('#salaryDate').val();
            existSalaryAmount = $('#salary').val();
            existPrepaidDate = $('#prepaidDate').val();
            existPrepaidAmount = $('#prepaid').val();

            existWageData = JSON.stringify({id: existSalaryId, salaryDate: existSalaryDate, salary: existSalaryAmount, prepaidDate: existPrepaidDate, prepaid: existPrepaidAmount});
            console.log(existWageData);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "post",
                url: "/editExistSalary",
                dataType : 'json',
                data : existWageData,
                success: $(document).ajaxStop(function(){
                    window.location.reload();
                })
            })
        });

    $(function() {
        $("#date").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#salaryDate").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#prepaidDate").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });

    });
</script>
<script src="../static/js/salaryButtonFunctions.js" th:src="@{/js/salaryButtonFunctions.js}" type="text/javascript"></script>
</body>
</html>