<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>newMonth</title>
    <th:block th:include="_header"></th:block>
</head>

<body>
<th:block th:include="_menu"></th:block>

<div style="display: none" id="dialog-confirm"><span class="mobileDialogText">Are you sure?</span></div>

<div class="mobileAddWage" style="display: none" id="addWageForm" title="Add Wage">
    <form>
        <fieldset>
            <p>
                <label for="mobileDate">Date: </label>
                <input type="text" name="date" id="mobileDate" class="text ui-widget-content ui-corner-all">
            </p>
            <p><span class="unhideLabel">Salary / Prepaid:</span>
                <label class="switch">
                    <input class="mobileSalaryPrepaid" id="mobileSalaryPrepaid" name="mobileSalaryPrepaid" type="checkbox">
                    <span class="slider salaryPrepaid"></span>
                </label>
            </p>
            <p>
                <label for="mobileAmount">Amount: </label>
                <input type="text" name="mobileAmount" id="mobileAmount" class="text ui-widget-content ui-corner-all">
            </p>
        </fieldset>
    </form>
</div>

<div id="salaryTable" class="divTable">
    <div class="divTableRow header">
        <div class="divTableCell">Salary date:</div>
        <div class="divTableCell">Salary amount:</div>
        <div class="divTableCell">Prepaid date:</div>
        <div class="divTableCell">Prepaid amount:</div>
        <div class="divTableCell"> XXXXXX </div>
    </div>
</div>
<p>
    <button id="showWageButton" type="button">Add new wage</button>
</p>

<div class="addWage" id="newWage" style="display: none">
    <div class="divTableRow">
        <div class="divTableCell">Date:</div>
        <div class="divTableCell">Salary / Prepaid:</div>
        <div class="divTableCell">Amount:</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">
            <input type="text" id="newDate" name="date" autocomplete="off" />
        </div>
        <div class="divTableCell">
            <label class="switch">
                <input id="newSalaryPrepaid" name="newSalaryPrepaid" type="checkbox" checked="checked">
                <span class="slider salaryPrepaid"></span>
            </label>
        </div>
        <div class="divTableCell">
            <input type="text" id="newAmount" name="amount" />
        </div>
    </div>
    <p>
        <button class="addWageButton" value="Submit">Add</button>
    </p>
</div>

<div id="addButton" class="addWageMobile"> <span>+</span> </div>
<button id="error">error</button>

<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        $(document).ready(function() {
            wages = /*[[${allWages}]]*/ "";

            appendAllWages();

            $(".divTableCell.hidden").hide();

            $( "#addButton" ).draggable();


            $(".addWageMobile").click(function (e) {
                e.preventDefault();
                addSalaryPrepaidMobile();
            });

            $(".addWageButton").click(function (e) {
                e.preventDefault();
                var date = $('#newDate').val();
                var amount = $('#newAmount').val();
                var isSalary = $('#newSalaryPrepaid').is(':checked');
                addWage(date, amount, isSalary);
            });

            $("#showWageButton").click(function () {
                if ($("#newWage").is(":visible")) {
                    $("#newWage").hide("slow");
                } else {
                    $("#newWage").show("slow");
                }
            });

            $(".editButton").click(function(e) {
                e.preventDefault();
                var id = $(this).attr('id');
                editSalaryPrepaidFunc(id);
            });
            $(".delButton").click(function(d) {
                d.preventDefault();
                var id = $(this).attr('id');
                deleteSalaryPrepaidFunc(id);
            });
            $(".cancelButton").click(function(c) {
                c.preventDefault();
                var id = $(this).attr('id');
                $('.divTableCell.' + id).show();
                $('.divTableCell.hidden.' + id).hide();
            });
            $(".saveButton").click(function (s) {
                s.preventDefault();
                saveSalaryPrepaidFunc($(this).attr('id'));
            });

        });
    </script>
    <script src="../static/js/salary.js" th:src="@{/js/salary.js}" type="text/javascript"></script>
    <script src="../static/js/salarySubmit.js" th:src="@{/js/salarySubmit.js}" type="text/javascript"></script>
</th:block>
</body>
</html>